<div class="ui placeholder segment">
  <%= form_with(model: @user, class: "ui form", local: true, data: { turbo: false }) do |f| %>
    <div class="field">
      <label>Username</label>
      <%= f.text_field :username, placeholder: "Choose username" %>
    </div>
    <div class="field">
      <label>Password</label>
      <%= f.password_field :password, placeholder: "Choose password" %>
    </div>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "ui blue button") %>
  <% end %>
  <div class="ui container center aligned content">
    <br/>
    <%= link_to '[ Cancel and return ]', root_path, class: "d-flex justify-content-center mb-3 text-light" %>
  </div>
</div>
