<div class="ui placeholder segment">
  <div class="ui center aligned container">
    <h1 class="text"> Sign up for MessageMe</h1>
  </div>
    <div class="ui hidden section divider"></div>
  <form class="ui form">
    <%# <%= form_with(model: @user, html: {class: "ui form", role: "form"}, local: true, data: { turbo: false }) do |f| %>

    <%# <%= form_for(@user, html: {class: "ui form", role: "form"}, url: signup_path, local: true, data: { turbo: false }) do |f| %>
      <div class="field">
        <%= form_with(model: @user, html: {class: "ui form", role: "form"}, local: true, data: { turbo: false }) do |f| %>
        <%= f.label :username, "Username" %>
        <%= f.text_field :username, placeholder: "Choose username" %>
      </div>
      <div class="field">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Choose password"%>
      </div>
      <%= f.submit class: "ui blue button" %>
    <% end %>
  </form>
</div>
